{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="container mt-5 ">
    <div class="row d-flex justify-content-center g-4">
      <div class="col">
        <div class="card mb-3 h-100">
          <div class="card-header text-center mb-3">¡Bienvenido a JobSmart!</div>
          <div class="card-body">
            <img src="/media/resumes/images/landingImage.webp" class="card-img-top" alt="Error al cargar la imagen">
            <p class="card-text mt-3">Somos una empresa dedicada a facilitar a las personas que buscan empleo la adaptación de sus hojas de vida a puestos de trabajo, anímate y prueba tú mismo la magia de JobSmart.</p>

            <!-- Asegúrate de usar enctype y method POST -->
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="mb-3">
                  <label for="formFile" class="form-label">Ingrese un archivo:</label>
                  <input class="form-control" type="file" id="formFile" name="pdf">
              </div>
              <button type="submit" class="btn btn-primary">Elegir vacante</button>
              <button type="button" class="btn btn-info">Buscar vacante </button>
            </form>

          </div> 
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
