{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-center align-items-center">
    <div class="card mb-3" style="width: 100%; max-width: 400px;">
        <div class="card-body">
            <h4 class="card-title text-center">Iniciar sesión</h4>
            {% if error %}
            <div class="alert alert-danger mt-3" role="alert">
                {{ error }}
            </div>
            {% endif %}
            <p class="card-text">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary w-100">
                        Iniciar sesión
                    </button>
                </form>
            </p>
        </div>
    </div>
</div>
{% endblock content %}
